#world {
	position: absolute;
	width: 100%;
	height: 100%;

	overflow: hidden;
	background: #000000;

}


#content {
	width: 100%;
	height: 100%;
	position: absolute;
	/* Full Width */

	background: #222222;
}

#blackBar {
	float: right;
	position: absolute;
	background: #000000;
	opacity: 0.6;
	width: 140px;
	height: 100%;
	right: 0;
	overflow: auto;
}

.color {
	float: right;
	position: absolute;
	width: 140px;
	height: 100%;
	right: 0;
	overflow: auto;
}



#white {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 100px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}



#red {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 210px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

#green {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 320px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

#blue {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 430px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

#yellow {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 540px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

#orange {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 650px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

#brown {
	position: absolute;
	width: 90px;
	height: 90px;
	top: 760px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

div img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}



#logo {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -150px;
}

#logo img {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}


#home {
	position: absolute;
	width: 220px;
	height: 150px;
	top: 40px;
	left: 40px;


}

#home img {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 100%;

}



#progressbar {
	position: absolute;
	width: 200px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	left: 50%;
	margin-left: -100px;
}

#cover {
	position: absolute;
	width:100%;
	height: 100%;
	background-color: #eee;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 2px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 2px;
}
.ui-widget-content {
	border: 1px solid #aaa;
	background: #eee;
	color: #222;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-widget-header {
	border: 1px solid #0ff;
	background: #00cccc ;
	color: #222;
	font-weight: 700;
}
