
body{
    /*position: relative;*/
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}


.container {
    position: absolute;
    width: 100%;
    height: 100%;

}


.pattern {
    position: absolute;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    bottom: 10px;
    left: 15%;
    /*background-color: #00f000;*/
    opacity: 0.3;
    overflow: hidden;
    word-spacing: 0;
}

.pattern div{
    width: 20%;
    height: 100%;
    position: absolute;

    /*background-color: #0b97c4;*/
}

.pattern div img{
    margin: 0px;
    height: auto;
    width: 90%;
    border:2px solid #ffffff;
}

#pic1{
    left: 0%;
}
#pic2{
    left: 25%;
}
#pic3{
    left: 50%;
}
#pic4{
    left: 75%;
}
